<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
{% extends 'base_home.html' %}
<body>
{% load widget_tweaks %}
{%  block content %}
    <div class="container text-center mt-5 pt-5 w-50">
    <form method="post">
       {% csrf_token %}
        {% for msg in messages %}
            <h4 class='text-center'>{{ msg }}</h4>
        {% endfor %}
        {% render_field cform.comment_author placeholder="Comment by" class="form-control mt-2" %}
        {% render_field cform.body placeholder="Write Your Comment here!" class="form-control mt-2" style="height: 100px;"%}
        <button class="btn-primary mt-2 w-25 btn-lg" type="submit">Save</button>
    </form>
</div>
{% endblock %}
</body>
</html>