<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
{% extends 'base_home.html' %}
<body>
{% load widget_tweaks %}
{% block content %}

<!--post detail and post form is binded with one view-->

    <div class="container-fluid">

        <!--Post Form-->

    <h2 class="alert alert-info text-center">Create Post</h2>
    {% if error %}
        <h4 class="text-center"> {{ error }}</h4>
    {% endif %}
    <div class="container bg-gradient p-3">
<div class="row text-center">
    <div class="col-sm-12">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    {% render_field pform.title class="form-control" placeholder="Give title"%}
                </div>
                <div class="col-sm-6">
                    {% render_field pform.post_author class="form-control" placeholder="Post by" %}
                </div>
            </div><br>
                <div class="row">
                        <div class="col-sm-12">
                            {% render_field pform.content class="form-control" placeholder="Write Content Here!!!" style="height: 150px;"%}
                        </div>
                </div>
             <button class="btn btn-primary btn-lg mt-3 w-25" type="submit">Publish</button>
        </form>
            </div>
    </div>
</div>
    </div>

    <!--List of Post Published-->

    <h2 class="alert alert-danger text-center mt-4">Recent Posts</h2>
    <div class="container">
    {% if posts %}
        {% for post in posts %}
            <div class="row">
            <div class="col-sm-12">
                <div class="card-header text-center mt-4">
                    <h2 class="alert alert-warning">
                    <div class="row">
                    <div class="col-sm-10">
                    {{ post.title }}
                    </div>
                    <div class="col-sm-2">

                        <!-- Basic dropdown for updating and deleting post -->
                       
                        <ul>
                            <li>
                                <a href="#" class=" btn-primary">---</a>
                                <ul>
                                    <li><a href="/updatepost{{ post.id }}" class=" btn-primary ">edit</a></li>
                                    <li><a href="/deletepost{{ post.id }}" class=" btn-primary ">delete</a></li>
                                </ul>
                            </li>
                        </ul>
                      
                        <!-- Basic dropdown -->

                    </div>
                    </div>
                    </h2>
                </div>
                <div class="card-body">
                    <p class="text-muted">{{ post.post_author }} | {{ post.date_posted }}</p>
                    <p class="card-body bg-white">{{ post.content }}</p>
                </div>

                <!--Comment Section to view & create Comment-->

                <div class="container ">
                <div class="card-footer">
                    <div class="row text-center"><a href="/viewcomments{{ post.id }}"><button type="button" class="form-control btn btn-primary w-100">View Comments</button> </a></div>
                    <form method="post" action="/createcomment{{ post.id }}">
                        {% csrf_token %}
                        {% for msg in messages %}
                            <h4 class='text-center'>{{ msg }}</h4>
                            {% endfor %}
                        {% render_field cform.comment_author placeholder="Comment by" class="form-control mt-2" %}
                        {% render_field cform.body placeholder="Write Your Comment here!" class="form-control mt-2" style="height: 60px;"%}
                        <button class="btn-primary mt-2" type="submit">Comment</button>
                    </form>
                </div>
                </div>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <h3 class="text-center mt-5 alert">No Posts Created Yet! </h3>
    {% endif %}
    </div>
{% endblock %}
</body>
</html>